@media only screen and (max-width: 1350px){
    .logo-text
    {
        font-size: 30px !important;
    }
    .businesses
    {
        display: none;
        visibility: hidden;
    }
    body
    {
        background-size: 110% !important;
    }
    .needs
    {
        padding-bottom: 50% !important;
    }
    .footer-links
    {
        display: none;
        visibility: hidden;
    }
    .copy-container
    {
        display: none;
        visibility: hidden;
    }
    footer
    {
        padding-bottom: 10% !important;
    }
}

@media only screen and (max-width: 1140px){
    .elegantsweets-button
    {
        font-size: 30px !important;
    }
    .fattoamano-button
    {
        font-size: 30px !important;
    }
    .needs
    {
        padding-bottom: 60% !important;
    }
}

@media only screen and (max-width: 1000px){
    .logo
    {
        display: none;
        visibility: hidden;
    }
    .links 
    {
        float: none !important;
    }
    .description-text
    {
        font-size: 50px !important;
    }
}


@media only screen and (max-width: 900px){
    body
    {
        background-size: 120% !important;
    }
    .n-logo
    {
        display: none;
        visibility: hidden;
    }
    .needs
    {
        padding-bottom: 70% !important;
    }
    footer
    {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 800px){
    .nh-text
    {
        font-size: 60px !important;
    }
    .needs
    {
        padding-bottom: 60% !important;
    }
    .contact-text
    {
        font-size: 60px !important;
    }
    .ct-info
    {
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 690px){
    body
    {
        background-size: 140% !important;
    }
    .contact-text
    {
        font-size: 40px !important;
    }
    .ct-info
    {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 560px){
    .needs
    {
        padding-bottom: 70% !important;
    }
    body
    {
        background-size: 160% !important;
    }
    .description-text
    {
        font-size: 30px !important;
    }
    .elegantsweets-button
    {
        font-size: 20px !important;
    }
    .fattoamano-button
    {
        font-size: 20px !important;
    }

}

@media only screen and (max-width: 505px){
    .links
    {
        padding: 0% !important;
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 470px){
    .nh-text
    {
        font-size: 50px !important;
    }
    .ways-text
    {
        font-size: 50px !important;
    }
}



.head-container
{
    text-align: center;
    background-color: transparent;
    white-space: nowrap;
    margin: 0px 0px 0px 0%;
    margin-bottom: 10%;
    height: 160px;
}
.logo {
    padding: 50px;
    background: transparent;
    color: transparent;
    margin: 0px 0px 0px 30px;
    float: left;
    text-align: center;
    
}
.logo-text
{
    color: white;
    background-color: transparent;
    text-align: center;
    border-color: transparent;
    font-size: 320%;
    position: relative;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.logo-text:hover
{
    cursor: pointer;
}
header
{
    margin: 0%;
    background-color: transparent;

}
.elegantsweets-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 250%;
    color: white;
    text-decoration: none;
    position: relative;
    margin-right: 2%;
}
.elegantsweets-button:hover
{
    cursor: pointer;
    color: rgb(201, 201, 201);
}
.fattoamano-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 250%;
    color: white;
    text-decoration: none;
    position: relative;
}
.fattoamano-button:hover
{
    cursor: pointer;
    color: rgb(201, 201, 201);
}
.links
{
    float: center;
    text-align: center;
    margin-top: 0px;
    padding: 50px;
    float: right;
    text-decoration: none;
}
.elegantsweets-container
{
    background-color: transparent;
    text-decoration: none;
}

.fattoamano-container
{
    background-color: transparent;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1518619745898-93e765966dcd?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2F0ZXJpbmd8ZW58MHx8MHx8fDA%3D");
}

.description-text
{
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 500%;
    color: white;
    text-align: center;
}

.description-text-container
{
    text-align: center;
    padding-top: 8%;
}

.middle-container
{
    background-color: rgb(228 225 229);
    margin-top: 24%;
    height: 50%;
}

.businesses
{
    background-color: rgba(214, 203, 192, 0.164);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bis-text
{
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 30px;
    font-size: 40px;
    color: rgba(39, 39, 39, 0.911);
}

.needs
{
    background-color: rgb(44, 71, 46);
    padding-top: 2%;
    padding-bottom: 45%;
}

.nh-text
{
    font-family: "quiche-stencil", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    color: white;
}

.needs-container
{
    float: right;
    margin-top: 5%;
    padding-right: 10%;
}

.ways-container
{
    padding-left: 10%;
    margin-top: 2%;
}

.ways-text
{
    font-family: "quiche-stencil", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color: rgb(216, 216, 147);
}

.needs-logo
{
    float: left;
    margin-top: 30%;
    padding-left: 9%;
}

.n-logo
{
    border-color: transparent;
    background-color: transparent;
    font-family: "quiche-stencil", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 20px;
}

.n-logo:hover
{
    cursor: pointer;
}

.contact
{
    padding-bottom: 10%;
    background-color: rgb(228 225 229);
    text-align: center;
}

.contact-text
{
    color: rgb(27, 27, 27);
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
}

.ct-container
{
    padding-top: 5%;
}

.ct-info
{
    opacity: 50%;
    margin-top: 20px;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

.main-content {
    flex: 1;
}

footer
{
    background-color: rgb(116, 117, 116);
    padding: 10px 0;
    padding-top: 10%;
    padding-bottom: 5%;
    white-space: nowrap;
}

.footer-logo
{
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    padding-top: 10%;
    color: white;
    
}

.fl-container
{
    padding-left: 5%;
    float: left;
}

.footer-links
{
    float: center;
    padding-left: 45%;
}

.links-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding-left: 1%;
}

.fl-infob
{
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fl-infob:hover
{
    cursor: pointer;
}

.footer-contact
{
    float: right;
    padding-right: 10%;
}

.fc-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.fcontact-info
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

.copyright
{
    border-color: transparent;
    background-color: transparent;
    padding-top: 5%;
    
}

.copyright:hover
{
    cursor: pointer;
}

.copy-container
{
    padding-left: 4.6%;
}

.copy-container a {
    text-decoration: none;
}