.header-container
{
    text-align: center;
    background-color: rgb(228 225 229);
    white-space: nowrap;
    margin: 0px 0px 0px 0%;
    margin-bottom: 10%;
    height: 160px;
}
header
{
    margin: 0px;
    background-color: transparent;

}
.elegantsweets-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 60px;
    
}

.elegantsweets-button:hover
{
    color: rgb(116, 116, 116);
    cursor: pointer;
}

.links
{
    float: center;
    text-align: center;
    margin-top: 0px;
    padding: 45px;
    float: right;
}
.elegantsweets-container
{
    background-color: transparent;
}
.fattoamano-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 60px;
}
.fattoamano-container
{
    background-color: transparent;
}

.logo {
    padding: 0px;
    background: rgb(228 225 229);
    color: black;
    font-size: 80px;
    margin: 0px 0px 0px 30px;
    float: left;
    margin-top: 1.5%;
    margin-left: 3%;
    
}

.description-text
{
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 80px;
    color: white;
    text-align: center;
    margin: 0%;
}

.description-text-container
{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 0%;
    margin: 0%;
}

body {
    font-family: Arial;
    margin: 0;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url("https://images.pexels.com/photos/1126359/pexels-photo-1126359.jpeg?cs=srgb&dl=pexels-suzy-hazelwood-1126359.jpg&fm=jpg");
}
.priceing-container
{
    background-color: rgb(228 225 229);
    margin-top: 20%;
    height: 50%;

}
.pies-text-container
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
}
.pie-priceing-text-container
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    padding-top: 100px;
}
.cakes-text-container
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    text-align: center;
    padding-top: 100px;
}

.bottom-container
{
    background-color: rgb(228 225 229);
    margin-top: 0%;
    height: 50%;
}
.contact-container
{
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 30px;
    text-align: center;
}
.contactus-container
{
    padding: 10px;
    padding-top: 7%;
}
.email-container
{
    padding: 10px;
}
.withphone-container
{
    padding: 10px;
}
.phonenumber-contianer
{
    padding: 10px;
}

footer
{
    background-color: rgb(179, 179, 179);
    padding-top: 10%;
    padding-bottom: 5%;
    white-space: nowrap;
}

.footer-logo
{
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    padding-top: 10%;
    color: white;
    
}

.fl-container
{
    padding-left: 5%;
    float: left;
}

.footer-links
{
    float: center;
    padding-left: 45%;
}

.links-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding-left: 1%;
}

.fl-infob
{
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fl-infob:hover
{
    cursor: pointer;
}

.footer-contact
{
    float: right;
    padding-right: 10%;
}

.fc-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.fcontact-info
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.copyright
{
    border-color: transparent;
    background-color: transparent;
    padding-top: 5%;
    
}

.copyright:hover
{
    cursor: pointer;
}

.copy-container
{
    padding-left: 4.6%;
}

