@media only screen and (max-width: 1400px){
    .b2
    {
        padding-bottom: 2% !important;
    }
    .gmap-container
    {
        margin-left: 15% !important;
    }
}

::-moz-selection
{
    background-color: rgb(197, 197, 197);
}

::selection
{
    background-color: rgb(197, 197, 197);
}

.logo-container {
    margin-top: 20px;
    margin-left: 30px;
    background: transparent;
    color: transparent;
    float: left;
    text-align: center;
    width: 100px;
    
}
.links
{
    float: center;
    text-align: center;
    padding-top: 20px;
    padding-right: 8%;
    text-decoration: none;
}
.menu-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 40px;
    color:  white;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

.menu-button:hover
{
    cursor: pointer;
}

.menu-button:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu-button:hover:after { 
    width: 100%; 
    left: 0; 
    cursor: pointer;
}

.menu-container
{
    background-color: transparent;
    text-decoration: none;
}

.location-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 40px;
    color:  white;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

.location-button:hover
{
    cursor: pointer;
}

.location-button:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.location-button:hover:after { 
    width: 100%; 
    left: 0; 
    cursor: pointer;
}

.location-container
{
    background-color: transparent;
    text-decoration: none;
}

body
{
    margin: 0;
    background-image: url("https://github.com/Elegantbitecatering/elegantbitecatering/blob/main/img/Artboard_1.png?raw=true")
}
.b1
{
    background-color: transparent;
    height: 10px;
    padding-bottom: 10px;
    padding-top: 10%;
}

.b1-text
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 30px;
}

.b1-text-container
{
    text-align: center;
}

.b2
{
    background-color: white;
    height: 70%;
    margin: 0;
    margin-top: 14%;
    padding-bottom: 5%;
}

.b2-text-container
{
    text-align: center;
    padding-top: 2%;
}

.b2-text
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: black;
    font-size: 70px;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, #837c7c, #424242);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


.gmap-container
{
    width: 50%;
    border-radius: 5%;
    justify-items: center;
    text-align: right;
    margin-left: 23%;
    margin-top: 5%;
}

.gmap
{
    margin-top: 0%;
    border-radius: 5%;
    width: 100%;
}

footer
{
    background: #111111 url(https://github.com/Elegantbitecatering/elegantbitecatering/blob/main/img/bg-texture-on-blue.png?raw=true);
    padding-top: 10%;
    padding-bottom: 8%;
    white-space: nowrap;
}

.footer-logo
{
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    padding-top: 10%;
    color: white;
    position: absolute;
    width: 10px;
}

.fl-container
{
    padding-left: 10%;
    float: left;
    width: 100px;
}

.footer-links
{
    float: center;
    padding-left: 45%;
}

.links-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding-left: 1%;
}

.fl-infob
{
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fl-infob:hover
{
    cursor: pointer;
}

.footer-contact
{
    float: right;
    padding-right: 10%;
}

.fc-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.fcontact-info
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.copyright
{
    border-color: transparent;
    background-color: transparent;
    color: white;
}

.copy-container
{
    float: inline-start;
    margin-top: 3%;
    margin-right: 75%;
    margin-left: 6%;
}
.copyright:hover
{
    cursor: pointer;
}

