.logo-container {
    margin-top: 20px;
    margin-left: 30px;
    background: transparent;
    color: transparent;
    float: left;
    text-align: center;
    
}
.links
{
    float: center;
    text-align: center;
    padding-top: 20px;
    padding-right: 8%;
    text-decoration: none;
}
.menu-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 40px;
    color:  white;
    text-decoration: none;
}

.menu-button:hover
{
    color: rgb(177, 174, 174);
    cursor: pointer;
}

.menu-container
{
    background-color: transparent;
    text-decoration: none;
}

.location-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 40px;
    color:  white;
    text-decoration: none;
}

.location-button:hover
{
    color: rgb(177, 174, 174);
    cursor: pointer;
}

.location-container
{
    background-color: transparent;
    text-decoration: none;
}

body
{
    margin: 0;
    background-image: url("https://github.com/Elegantbitecatering/elegantbitecatering/blob/main/img/Artboard_1.png?raw=true")
}
.b1
{
    background-color: transparent;
    height: 10px;
    padding-bottom: 10px;
    padding-top: 10%;
}

.b1-text
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 30px;
}

.b1-text-container
{
    text-align: center;
}

.b2
{
    background-color: white;
    height: 70%;
    margin: 0;
    margin-top: 14%;
}

.b2-text-container
{
    text-align: center;
    padding-top: 10%;
}
.b2-text
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: black;
    font-size: 80px;
}

.b2-twitter-container
{
    text-align: center;
    padding-top: 5%;
}

.b2-twitter
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 50px;
}

footer
{
    background-color: rgb(179, 179, 179);
    padding-top: 10%;
    padding-bottom: 8%;
    white-space: nowrap;
}

.footer-logo
{
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    padding-top: 10%;
    color: white;
    position: absolute;
}

.fl-container
{
    padding-left: 10%;
    float: left;
}

.footer-links
{
    float: center;
    padding-left: 45%;
}

.links-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding-left: 1%;
}

.fl-infob
{
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fl-infob:hover
{
    cursor: pointer;
}

.footer-contact
{
    float: right;
    padding-right: 10%;
}

.fc-text
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.fcontact-info
{
    color: white;
    font-family: "kohinoor-odia", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.copyright
{
    border-color: transparent;
    background-color: transparent;
}

.copy-container
{
    float: inline-start;
    margin-top: 3%;
    margin-right: 75%;
    margin-left: 6%;
}
.copyright:hover
{
    cursor: pointer;
}



