.logo-container {
    margin-top: 20px;
    margin-left: 30px;
    background: transparent;
    color: transparent;
    float: left;
    text-align: center;
    
}
.links
{
    float: center;
    text-align: center;
    padding-top: 20px;
    padding-right: 8%;
    text-decoration: none;
}
.menu-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 40px;
    color:  white;
    text-decoration: none;
}
.menu-container
{
    background-color: transparent;
    text-decoration: none;
}

.location-button
{
    background-color: transparent;
    border-color: transparent;
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 40px;
    color:  white;
    text-decoration: none;
}
.location-container
{
    background-color: transparent;
    text-decoration: none;
}

body
{
    margin: 0;
    background-image: url("https://cdn.discordapp.com/attachments/1093303363036250152/1207516146878648330/Artboard_1.png?ex=65dfee0b&is=65cd790b&hm=a23b7cbb0f769584c5004fd07753d4f01d4b6d499bbf750c8be9c068155395c2&");
}

.b1
{
    background-color: transparent;
    height: 10px;
    padding-bottom: 10px;
    padding-top: 10%;
}

.b1-text
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 30px;
}

.b1-text-container
{
    text-align: center;
}

.b2
{
    background-color: white;
    height: 70%;
    margin: 0;
    margin-top: 14%;
}

.b2-text-container
{
    text-align: center;
    padding-top: 10%;
}
.b2-text
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: black;
    font-size: 100px;
}

.b2-twitter-container
{
    text-align: center;
    padding-top: 5%;
}

.b2-twitter
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    font-size: 50px;
}

footer
{
    background-color: rgb(27, 27, 27);
    height: 30%;
}

.logo-container-footer {
    margin-top: 60px;
    margin-left: 15%;
    background: transparent;
    color: transparent;
    float: left;
    text-align: center;
}

.footer-links
{
    text-align: center;
    float: center;
    padding-top: 3%;
    padding-right: 13%;
}

.catering-link-container
{
    margin-left: 30%;
}

.catering-link
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: white;
    font-size: 50px;
    float: left;
}

.footer-menu-link-container
{
    margin-right: 25%;
}

.footer-menu-link
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: white;
    font-size: 50px;
    float: center;
}

.footer-location-link-container
{
    padding-right: 12%;
}

.footer-location-link
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: white;
    font-size: 50px;
    float: right;
}

.footer-contact-container
{
    text-align: center;
    padding-right: 22%;
    padding-top: 2%;
}

.footer-email
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: rgb(138, 138, 138);
    font-size: 30px;
}

.footer-withphone
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: rgb(138, 138, 138);
    font-size: 30px;
}
.footer-phonenumber
{
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
    color: rgb(138, 138, 138);
    font-size: 30px;
}

.copyright-container
{
    text-align: center;
    background-color: rgb(27, 27, 27);
}

.footer-copyright
{
    text-align: center;
    color: white;
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 800;
}
